<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lambostudio.lovelynotes" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchertest"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_test"
        android:supportsRtl="true"
        android:theme="@style/Theme.LovelyNotes" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.LovelyNotes.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>